h1 {
    text-align: center;
    font-size: 46px;
    color: blue;
}

#giga {
    text-align: center;
    font-size: 46px;
    color: rgb(255, 0, 140);
}

/* .myData {
    text-align: center;
    font-size: 46px;
    color: rgb(0, 255, 140);
} */