@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* font-family: "Manrope", serif; */

.logoWrapper p {
    font-family: "Manrope", serif;
    font-size: 20px;
    font-weight: bolder;
    color: #DEDEDE; 
}

header {
    background-color: #323232;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    left: 96px;
}

nav a {
    text-decoration: none;
    color: #DEDEDE;
    font-weight: bold;
    font-family: "Manrope", serif;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 63px;
    position: relative;
    right: 109px;
}

body {
    margin: 10px 0;
    background-color: #202020;
}

main {
    margin-left: 96px;
}

#upperWelcomeTxt {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Manrope', 'serif';
    color: #DEDEDE;
    width: 600px;
}

#belowWelcomeTxt {
    font-size: 24px;
    font-weight: 450;
    font-family: 'Manrope', 'serif';
    color: #959595;
    width: 490px;
    position: relative;
    bottom: 50px;
}

#button1 {
    width: 400px;
    height: 64px;
    background-color: #9D9D9D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#button1 p {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 450;
    color: #FFFFFF;
    font-family: 'Manrope', 'serif';
}

#button1 i {
    color: #FFFFFF;
}

.upperMainWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upperMainWrapper img {
    width: 400px;
    height: 400px;
    position: relative;
    right: 202px;
    top: 25px;

}